body{
    background-color: darkorchid;
    margin: 0;
    text-align: center;
}

nav{
    background-color: rgb(168, 11, 230);
    width: 100%;
    color: white;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
}

h1{
    color: rgb(224, 108, 30)
}

footer{
    background-color: rgb(62, 64, 209);
    color: white;
    padding: 5px;
}